################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HomeBackup/v16
/HomeBackup/bin
/HomeBackup/obj
